.Key {
    margin-bottom: 50px;
}

.result {
    height: 200px;
    width: 300px;
    margin: 60px auto;
    text-align: center;
    font-size: 70px;
}

body {
    display: flex;
    flex-direction: column;
}